@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 63%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 35, 36);
  background: linear-gradient(90deg, rgb(0, 35, 36) 0%, rgb(213, 4, 106) 49%, rgb(0, 22, 255) 100%);
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 22, 255);
  background-color: rgb(0, 22, 255);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(213, 4, 106);
  border-radius: 10px;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.brunoacesc {
  font-family: "Bruno Ace SC", cursive;
}

.navBar {
  display: flex;
  gap: 2vw;
  justify-content: flex-end;
  list-style: none;
  text-transform: capitalize;
  margin: 1vw 1vw 1vw 0;
  padding: 2vw 2.8vw;
}

.navBar-elem {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5vw;
  line-height: 1vw;
  color: white;
  padding: 0.5vw 1vw;
  border-radius: 1rem;
}

.navBar-elem:hover,
.navBar-elem:active {
  text-decoration: underline;
}

.main-header-text-div {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.main-header-text {
  text-align: left;
  font-weight: 900;
  font-size: 3vw;
  line-height: 6.3vw;
  color: white;
  font-style: normal;
  letter-spacing: 0.3vw;
  margin-bottom: 1.5vw;
  text-transform: capitalize;
}

.special-words {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 0.5vw;
  padding: 0.75vw;
}

.main-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin: 2vw 2.8vw;
}

.main-header-para {
  text-align: center;
  color: white;
  margin-top: 0.5vw;
  text-transform: capitalize;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.social-icons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2vw 1vw;
}

.social-icons-ul {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  list-style: none;
}

.social-icons {
  color: rgb(213, 4, 106);
  transition: transform 0.5s;
}
.social-icons:hover {
  transform: rotate(0deg);
}

.social-icons-blank-div {
  border: 0.1vw solid rgb(213, 4, 106);
  margin-top: 0.8vw;
  width: 0;
  height: 10vh;
}

.main-header-img h2 {
  margin: 2vw 2vw;
  font-weight: 600;
  text-align: center;
  font-size: 1.5vw;
  color: white;
  line-height: 1.5vw;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(15) infinite alternate, blink 800ms steps(15) infinite normal;
  border-right: 5px solid black;
}

.main-header-img img {
  width: 30vw;
  height: 30vw;
  border-radius: 10%;
  filter: drop-shadow(0 25px 25px rgb(0, 0, 0));
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.main-header-img img:hover {
  transform: rotateX(15deg) rotateY(15deg);
}

.about-section-div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5vw;
  background-color: black;
  box-shadow: 0 25px 50px -3px rgba(6, 224, 217, 0.513);
  border-radius: 1vw;
  padding: 1vw 2vw;
  margin: 2vw 2.8vw;
}

.about-section-div img {
  width: 20vw;
  border-radius: 12%;
}

.about-section-div p {
  color: white;
  font-weight: 500;
  font-size: 1.3vw;
  margin: 1vw;
  text-align: center;
  line-height: 1.3vw;
}

.about-section-div h3 {
  color: white;
  text-align: center;
  white-space: break-spaces;
  font-weight: 500;
  font-size: 2.3vw;
  line-height: 2.3vw;
  letter-spacing: 0.25em;
}

.about-section-card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  padding: 1vw 1vw;
  justify-content: center;
  transition: transform 0.2s;
  box-shadow: 0px 0px 0px 8px rgba(255, 253, 253, 0.281);
  border-radius: 1vw;
  margin: 1vw 0.5vw;
  transition: transform 0.3s ease-in;
}

.about-section-card-div:hover {
  box-shadow: none;
  filter: drop-shadow(0 12px 12px rgba(254, 251, 251, 0.429));
  transform: scale(1.2);
}

.work-section-div {
  position: relative;
  margin: 1.5vw auto;
}

.work-section-slides-div {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: fade;
  animation-duration: 1.5s;
}

.work-section-slides-div img {
  width: 90vw;
  height: 45%;
  box-shadow: 0 25px 50px -3px rgba(6, 224, 217, 0.513);
}

.work-section-slides-prev,
.work-section-slides-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.work-section-slides-prev:hover,
.work-section-slides-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.work-section-slides-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.work-section-slides-div p {
  color: #f2f2f2;
  font-size: 1.5vw;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.5vw;
  letter-spacing: 0.25em;
  text-transform: capitalize;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.dot-indicator {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.skill-section-div {
  background-color: black;
  box-shadow: 0 25px 50px -3px rgba(6, 224, 217, 0.513);
  border-radius: 1vw;
  padding: 2vw 2vw;
  margin: 2vw 2.8vw;
}

.skill-section-div h2 {
  color: white;
  margin-bottom: 1vw;
  text-align: center;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 2.5vw;
  letter-spacing: 0.17em;
  text-transform: capitalize;
}

.skill-section-card-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.3vw;
}

.skill-section-card-div {
  background-color: white;
  border-radius: 50%;
  display: flex;
  padding: 2vw;
  flex-direction: column;
  transition: transform 0.2s;
  align-items: center;
  justify-content: center;
  border: 15px solid rgb(5, 120, 120);
  border-bottom-color: white;
}

.skill-section-card-div:hover {
  transform: scale(1.2);
  box-shadow: 0 25px 50px -3px rgba(6, 224, 217, 0.513);
}

.skill-section-card-div img {
  width: 10vw;
}

.skill-section-card-div p {
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 1.2vw;
}

footer {
  display: flex;
  color: rgb(148, 163, 184);
  justify-content: space-evenly;
  align-items: center;
  margin: 2vw 2.8vw;
  padding: 1vw 1vw;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  border-radius: 1vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer-section-text-div {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

footer h2 {
  font-weight: 700;
  font-size: 2.3vw;
  line-height: 2.3vw;
}

footer p {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.3vw;
}

.footer-section-icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.footer-section-icons-div img {
  width: 4vw;
}/*# sourceMappingURL=style.css.map */